*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
}
:root{
    --bg-color: #090516;
    --second-bg-color: #081b29;
    --text-color:#fff;
    --second-color:#c2bfd1;
    --main-color: #6b57ff;
    --other-color: #b1e82d;

    --h1-font: 5.2rem;
    --h2-font:3.6rem;
    --p-font:1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}
.nav{
    display: flex;
}
.nav a{
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0 20px;
    color: var(--text-color);
    transition: all .50s ease;
}
.nav a:hover{
    color: var(--main-color);
}
.right-nav{
    display: flex;
    align-items: center;
}
.right-btn{
    display: inline-block;
    padding: 15px 26px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    background: var(--other-color);
    color: var(--bg-color);
    margin-right: 20px;
    transition: all .50s ease;
}
.right-btn:hover{
    background: var(--main-color);
    color: var(--text-color);
}
#menu-icon{
    font-size: 40px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 90px 13% 80px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: contain;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-text h1{
    font-family: 'Jost', sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    margin: 25px 0 25px;
}
.home-text h1 span{
    color: var(--other-color);
    font-family: 'Jost', sans serif;
    font-weight: 600;
}
.count{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
.count li{
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 22px;
    line-height: 1.3;
    color: var(--second-color);
}
.count span{
    font-family: 'Jost', sans serif;
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 600;
    margin-right: 20px;
}
header.sticky{
    background: #1a1330;
    padding: 15px 13%;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
}
.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}
.logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.menu-btn{
    background: linear-gradient(130.08deg, #383528 0%), #191919 100%;
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#menu-icon{
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #f967f3;
  }
  
  .calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
  }

  /* dark theme */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
  }

  .calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #2e1f39;
    color: #aa00a4;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
  }